/*.... fonts........ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

/* .......... */

*{
    padding: 0;
    margin: 0;    
}
body{
    font-family: 'Poppins', sans-serif;
   
}

.head{
    background-color: #2D25A0;
    height: 600px;
    width: 100%;
    color: white;
    
}
.top{
    color: rgb(243, 235, 235);
    margin-left: 156px;
    padding-top: 42px;
    margin-right: 124px;
    margin-bottom: 86px;
    
    
}
.nav,.content,.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 1px solid  #E02C6D;  */
     position: relative;
   
}
.pages a{
  margin-right: 36px;
  text-decoration: none;
  color: rgb(255, 246, 246);
  position: relative;
  
}
.pages>a:hover{
    text-shadow:5px 5px 5px rgba(255, 255, 255, 0.671);
    font-size: 1.5em;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgba(255, 255, 255, 0.733);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

/* .......................login........................ */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #E02C6D;
    width: 123px;
    height: 44px;
    position: relative;
}
.login img{
    width:30%;
}

.login:hover span{
    font-size: 1.2em;
    transform: rotate(360deg);
    transition: transform 1s;
    
}
.login:hover{
    width: 140px;
    height: 50px;
    background-color: #00000056;
    text-shadow:5px 5px 5px rgb(255, 255, 255);
}

/* .......................content................... */

.content{
    margin-top: 50px;
   font-size: 1.5em;

}
.content-img>img{
    width:460px;
    height:375px;

}

.content-headline{
    margin-right: 200px;
    width: 1500px;
}

.content-img:hover{
        transform: rotateY(360deg) ;
        transition: transform 1s;
        transition-delay: 0.5s;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
        box-shadow: 0px 0px 20px 12px rgb(18, 25, 116);
}

/* ............watch-live-button................... */

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: 164px;
    height: 44px;
    background-color: #E02C6D;
    margin-top: 27px;
    font-size: 0.8em;
}
.button:hover span{
    font-size: 1.2em;
    transform: rotate(360deg);
    transition: transform 1s;
    text-shadow:5px 5px 5px rgb(255, 255, 255);
}
.button:hover{
    width: 180px;
    height: 55px;
    background-color: #00000056;
    
}



/* .........................players....................... */


.players{
    margin-top: 70px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.individual-players{
    width: 300px;
    height: 474px;
    margin-bottom: 27PX;
    
    padding : 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

/* .......................player-description........................ */

.description:hover{
position :relative;
font-size: 0.9em;
} 
.description{
position :relative;
font-size: 0.8em;
} 
/* ....................player-image.................... */

.image:hover {
    position :relative;
    width: 105%;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.466);
    overflow:hidden;
    margin-bottom: 20px;
    
}

.individual-players img{
    width: 97%;
}



/* ............................all-highlights...................... */
.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 469px;
    height: 309px;
    margin-right: 66px;
    border: 2px solid white;

}
.ima{
    width: 583px;
    height: 439.047;
    display: block;
}
.heading p{
    font-weight: 300;
    font-size: 0.8em;
}
.heading h1{
    font-weight: 700;
    font-size: 3em;
}
.heading .button{
    background-color: #E02C6D;
    color: white;
}
.container{
    margin-top: 165px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 40px;
   
    
}


/* ......................social-media........................ */
.social{
    display: flex;
    margin-top: 154px;
    justify-content: center;
}
.football-logo img{
    width: 100%;
}

.social-icon{
    width: 170px;
    height: 32px;
    display: flex;
    
}

.social-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
    
}
.social-icon img
{
    width: 80%;
}
.copyright{
    margin-top: 20px;
}













/*.....................media Wuries..............................*/


/*.....................Mobile..............................*/
@media only screen and (max-width:688px){
    *{
        margin : 0px;
        padding : 0px;
    }
    .top{
      
        color: rgb(243, 235, 235);
        margin-left: 0px;
        padding-top: 20px;
        margin-right: 0px;  
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
         position: absolute;
         width: 100%;
    }
    .content-headline{
        margin-bottom: 50px;
        display: flex;
        margin-left: 100%;
        margin-right: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.5em;
       
    }
    .content-img>img {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        
       
    }

    .content-img{
        width:200px;
        height: 200px;
        margin-left : 100%;
        margin-right : 100%;
    }
    .content-img:hover{
        transform: rotateY(360deg) ;
        transition: transform 1s;
        box-shadow: 0px 0px 20px 12px rgb(18, 25, 116);
}



    .pages{
        padding :10px;
        margin-top:5px;
        float: left;
    }
    .pages a{
        margin-right: 2px;
    }
    .login{
        margin-right: 10px;
        font-size:0.8em;
        padding-right: 10px;
    }


    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec1{
        margin-top:30px;
    }
    

    .players{
         display: flex;
         flex-direction:column;
            justify-content:center ;
            align-items: center;
            margin-right: 50px;
            }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        font-size: 0.5em
    }
    .heading h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .ima{
       display: flex;
        height:300px ;
        width:100% ;
        align-items: center;
    }
    .social{
        margin-top: -50px;
    }
    .football-logo{
        margin-top: 10%;
        width: 300px
    }
   


}





/*.....................media Wuries..............................*/


/*.....................I-PAD..............................*/
@media only screen and (min-width: 689px ) and (max-width:992px){
    *{
        margin : 0px;
        padding : 0px;
    }
    .top{
      
        color: rgb(243, 235, 235);
        margin-left: 0px;
        padding-top: 20px;
        margin-right: 0px;  
    }
    .content{
        display: flex;
        flex-direction: column;
         position:relative;
         justify-content: center;
        align-items: center;
         width: 100%;
    }
    .content-headline{
        margin-bottom: 50px;
        display: flex;
        /* margin-left: 50%; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
        margin-left: 15%;
       
    }
    .content-img>img {
        display:flex;
        margin-left : auto;
        margin-right : auto;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        margin-left: -15%;
    }

    .content-img:hover{
        transform: rotateY(360deg) ;
        transition: transform 1s;
        box-shadow: 0px 0px 20px 12px rgb(18, 25, 116);
}



    .pages{
        padding :10px;
        margin-top:5px;
        float: left;
    }
    .pages a{
        margin-right: 2px;
        align-items: center;
        text-align: center;
    }
    .login{
        
        margin-left: 100px;
        font-size:01em;
        padding-right: 10px;

    }


    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec1{
        margin-top:30px;
        
    }
    

    .players{
        margin:auto;
        
         margin-left: 50px;
         display: grid;
         grid-template-columns: 1fr 1fr;  
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }
    .heading h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: px;
    }
    .ima{
        margin-right: 50px;
        height:100px ;
        width:800px;
        align-items: center;
    }
    .button{
        margin-bottom: 20px;
    }
    .social{
        margin-top: 500px;
    }
    .football-logo{
        width: 300px
    }
}